body {
	min-width: 960px;
	margin: 0;
	padding: 0;

	font-family: 'Podkova', 'Times New Roman', serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #000000;

	background-color: #f9eed1;
}

* {
	margin: 0;
	padding: 0;
}

.slogan {
	font-family: 'Yeseva One', 'Times New Roman', cursive;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: none;
	padding: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	width: 100%;
	background-color: #222227;
}

.header a {
	display: block;
	padding: 20px 15px;

	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.header a:hover,
.header a:focus {
	color: #f9eed1;
}

.header nav {
	display: flex;
	justify-content: space-between;

	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	background-color: #222227;
}

.header ul, .offer ul {
	list-style: none;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-info {
	margin-bottom: 70px;

	text-align: center;
	background-color: inherit;
}

.about-us {
	display: flex;
	margin-bottom: 50px;
	max-height: 500px;

	background-color: #FCF4DE;
}

.about-us img {
	width: 66%;
}

.about-us .about-us-text {
	padding: 20px;
	box-sizing: border-box;
	width: 33%;
	text-align: center;
}

.about-us-text h2,
.offer h2 {
	margin: 20px 0;
	text-align: center;
	font-size: 28px;
	line-height: 28px;
}

.about-us-subheader {
	margin: 15px 0;
}

.offer p {
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
}

.offer ul {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.offer-haircut {
	background: url(../img/haircut.jpg) no-repeat;
}

.offer-shave {
	background: url(../img/shave.jpg) no-repeat;
}

.offer-tattoo {
	background: url(../img/tattoo.jpg) no-repeat;
}

.offer-haircut:hover,
.offer-shave:hover,
.offer-tattoo:hover {
	opacity: 0.9;
}

.offer-bg {
	width: 300px;
	height: 200px;

	font-size: 20px;
	font-weight: 700;
	line-height: 200px;
	text-align: center;
	color: #ffffff;

	background-color: #222227;
	background-size: cover;
}

.appointment {	
	padding: 100px 0;

	color: #f9eed1;

	background-color: #000000;
	background: url(../img/barbershop-bg.jpg) no-repeat fixed;
	background-position: 0 50%;
	background-size: cover;
}

.appointment h3 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 34px;
	line-height: 38px;
}

.appointment a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.appointment a:hover,
.appointment a:focus {
	color: #ffe073;
}

.appointment form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.appointment input,
.appointment select {
	margin-bottom: 5px;
	width: 220px;
	box-sizing: border-box;
}

.appointment textarea {
	margin-bottom: 10px;
	width: 430px;
	height: 150px;
	resize: none;
}

input,
textarea,
select {
	font: inherit;
	padding: 5px;
	margin: 5px;

	border: 2px solid #BBB5A4;
}

input:focus,
textarea:focus,
select:focus {
	border: 2px solid #fcf4de;
}

.button {
	padding: 7px 20px;
	border: none;
	background-color: #f9eed1;
}

.button:hover,
.button:focus {
	background-color: #ffe073;
}

footer {
	padding: 70px;
	box-sizing: border-box;
}

.contacts {
	display: flex;
	justify-content: space-around;
}

.logo {
	text-align: center;
}

.logo a:hover {
	opacity: 0.5;
}

.container-login {
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 700px;
}

.login,
.registration {
	width: 270px;
}

.container-login h2 {
	margin-bottom: 20px;
	text-align: center;
}

.container-login input,
.container-app input,
.container-app select {
	margin-bottom: 10px;
	width: 250px;
	box-sizing: border-box;
}

.order p {
	margin-bottom: 50px;
	padding: 0 15px;
	font-size: 20px;
	line-height: 30px;
}

.order h2 {
	margin-bottom: 30px;
	padding: 0 15px;
}

.container-app {
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 900px;
}

.appointment-form {
	margin-right: 70px;
	width: 66%;
}

.appointment-text {
	width: 33%;
}

.appointment-subscription {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px;
}